@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
}

body {
    font-family:
        "Inter",
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        sans-serif;
    color: #222;
    background: #fff;
}

.app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.app-container > *:nth-child(2) {
    flex: 1;
}

:root {
    --bg-color: #ffffff;
    --text-color: #222222;
    --secondary-text: #444444;
    --border-color: #eeeeee;
    --icon-color: #222222;
}

[data-theme="dark"] {
    --bg-color: #0f1115;
    --text-color: #f5f5f5;
    --secondary-text: #cccccc;
    --border-color: #1f1f1f;
    --icon-color: #f5f5f5;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        sans-serif;
}
